*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.nav{
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: black;
}

.logo{
    height: 8vh;
    display: flex;
    position: absolute;
    left: 5vw;
    top: 3vh;
}

.linguagem{
    height: 6vh;
    display: flex;
    display: flex;
    position: absolute;
    right: 5vw;
    top: 3vh;

}

.header{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.monsterimg{
    height: 60vh;
    display: flex;
    position: absolute;
    left: 53vw;
 

}

.descricao{
    display: flex;
    position: absolute;
    left: 5vw;
    top: 35vh;
    height: 35vh;
    

}

.footer{
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 5vw;
}

.setinha1{
    display: flex;
    position: absolute;
    top: 90vh;
    gap: 75vw;
    height: 3vh;
}

.setinha2{
    display: flex;
    position: absolute;
    top: 90vh;
}


