*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.nav{
    height: 15vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: black;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -10;
}

.logo img{
    width: 8vw;
    display: flex;
    position: absolute;
    left: 5vw;
    top: 3vh;
}

.promocoes{
    height: 5vh;

}

.linguagem img{
    width: 8vw;
    display: flex;
    position: absolute;
    right: 80px;
    top: 3vh;

}

.main{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.monsterimg{
    height: 50vh;
    display: flex;
    position: absolute;
    top: 25vh;
}

.background{
    display: flex;
    position: absolute;
    z-index: -9;
    height: 90vh;
    top: 8vh;
}

.descricao img{
    display: flex;
    position: absolute;
    left: 5vw;
    top: 35vh;
    width: 14vw;
}

.footer{
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.setinha1{
    display: flex;
    position: absolute;
    top: 90vh;
    gap: 75vw;
    height: 3vh;
}

.setinha2{
    display: flex;
    position: absolute;
    top: 90vh;
}

@media  ( max-width: 375px){
    .monsterimg img{
        position: absolute;
        left: 5vw;
    }
    
    .setinha1{
        display: flex;
        gap: 50vw;
    }

    .background{
        display: none;
    }
  
    .descricao img{
        width: 55vw;
    }
}